<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <servlet-class>servlet.RegistrazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>servlet.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaUtente</servlet-name>
        <servlet-class>servlet.ConfermaUtente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <url-pattern>/RegistrazioneUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/DashboardAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaUtente</servlet-name>
        <url-pattern>/ConfermaUtente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
