<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <servlet-class>servlet.RegistrazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>servlet.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaUtenteServlet</servlet-name>
        <servlet-class>servlet.ConfermaUtenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaCandidaturaServlet</servlet-name>
        <servlet-class>servlet.ConfermaCandidaturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaCriterioServlet</servlet-name>
        <servlet-class>servlet.CreaCriterioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrazioneCandidaturaServlet</servlet-name>
        <servlet-class>servlet.RegistrazioneCandidaturaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaVotazioneServlet</servlet-name>
        <servlet-class>servlet.CreaVotazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssociaCriterioServlet</servlet-name>
        <servlet-class>servlet.AssociaCriterioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaCriterioServlet</servlet-name>
        <servlet-class>servlet.ConfermaCriterioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartecipazioneServlet</servlet-name>
        <servlet-class>servlet.PartecipazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaPartecipazioneServelet</servlet-name>
        <servlet-class>servlet.CreaPartecipazioneServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaPartecipazioneServlet</servlet-name>
        <servlet-class>servlet.ConfermaPartecipazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotoServlet</servlet-name>
        <servlet-class>servlet.VotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaVotiServlet</servlet-name>
        <servlet-class>servlet.ConfermaVotiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RisultatiServlet</servlet-name>
        <servlet-class>servlet.RisultatiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RisultatiTotali</servlet-name>
        <servlet-class>servlet.RisultatiTotali</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrazioneServlet</servlet-name>
        <url-pattern>/RegistrazioneUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaUtenteServlet</servlet-name>
        <url-pattern>/ConfermaUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaCandidaturaServlet</servlet-name>
        <url-pattern>/ConfermaCandidatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaCriterioServlet</servlet-name>
        <url-pattern>/CreaCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrazioneCandidaturaServlet</servlet-name>
        <url-pattern>/RegistrazioneCandidatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaVotazioneServlet</servlet-name>
        <url-pattern>/CreaVotazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssociaCriterioServlet</servlet-name>
        <url-pattern>/AssociaCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaCriterioServlet</servlet-name>
        <url-pattern>/ConfermaCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartecipazioneServlet</servlet-name>
        <url-pattern>/PartecipazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaPartecipazioneServelet</servlet-name>
        <url-pattern>/CreaPartecipazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaPartecipazioneServlet</servlet-name>
        <url-pattern>/ConfermaPartecipazione</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotoServlet</servlet-name>
        <url-pattern>/Voto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaVotiServlet</servlet-name>
        <url-pattern>/ConfermaVoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RisultatiServlet</servlet-name>
        <url-pattern>/RisultatiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RisultatiTotali</servlet-name>
        <url-pattern>/RisultatiTotali</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
